:root {
    --usage-color-text-default: rgb(25 25 25);
    --font-family: font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --usage-color-text-subdued-default: rgb(96 96 96);
    --usage-border-width-default: 1px;
    --usage-color-border-default: #f1f1f1ff;
    --usage-border-raduis-small: 4px;
    --usage-space-xx-small: 4px;
    --usage-space-x-small: 8px;
    --usage-space-small: 12px;
    --usage-space-medium: 16px;
    --usage-space-large: 24px;
    --usage-border-radius-large: 20px;
    --usage-space-x-large: 32px;
    --usage-size-action-small: 32px;
    --usage-size-action-medium: 40px;
    --usage-type-body-medium-default-letter-spacing: -0.01px;
    --usage-type-body-medium-default-font-weight: 500;
    --usage-color-background-default: #ffffff;
  }


  .prop{
    color: var(--usage-color-text-subdued-default);
    font-family: 'bold';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    max-height: calc(20px * 3);
    text-transform: none;
    white-space: normal;
  }
  

  @font-face {
    font-family: "bold";
    src: url("/fonts/TTNorms-Bold.woff2") format('woff2');
  }

  @font-face {
    font-family: "medium";
    src: url("/fonts/TTNorms-Medium.woff2") format('woff2');
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }



  
body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  }
  


  
  /* App Promo Banner */
  .app-banner {
    display: flex;
    
    background: #f9f9f9;
  }

  .app-banner-content{
    flex: 1;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    column-gap: 8px;
    gap: 8px;
    margin-top: 16px;
    padding: 8px 8px;
  }
  
  .logo{
    width: 64px;
    height: 64px;
    align-self: center;
    border: var(--usage-border-width-default) solid var(--usage-color-border-default);
    border-radius: calc(var(--usage-border-raduis-small) * 3);
  }

  .icon {
    
    border-radius: 8px;
    flex-shrink: 1;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row
    
  }
  
  .banner-text{
    flex-basis: 100%;
    max-width: 100%;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }
  
  .banner-text .browse-text {
    color:  var(--usage-color-text-default);
    font-family: 'bold';
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    white-space: nowrap;
  }

  .banner-text .delivary-text,.rating-text{
    color: var(--usage-color-text-subdued-default);
    font-family: 'medium';
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .banner-text .stars {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    fill: none;
    overflow: hidden;
    overflow-clip-margin: content-box;
  }
  .stars img{
    margin: 0px 1px;
  }

  .stars .rating-text{
    margin-left: 4px !important;
  }

  .open-btn-div{
    align-self: center;
    width: auto;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    border-radius: 9999px;
    background-color: #eb1700;
    border: none;
    transition: background-color 0.15s 
                ease-in-out, box-shadow 0.15s;
    justify-content: flex-start;
    font-family: 'bold';
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    min-height: 32px;
    text-align: center;
  }
  
  .open-btn-div a{
    color: #fff;
    padding: 0 12px;
    text-decoration: none;
  }

  /* Header */
  .ad-div {
    background-image: url('/images//hero_mobile.png');
    padding: 0px 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 1;
    justify-content: center;
    width: 100%;
    height: 550px;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .ad-logo{
    margin-top: calc(var(--usage-space-xx-small) * 5);
    margin-bottom: calc(var(--usage-space-xx-small) * 5);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
    
  }
  .ad-logo .name-logo{
    margin-left: var(--usage-space-x-small) !important;
  }

  .ad-h1-div{
    display: flex;
    justify-content: center;
    margin-bottom: var(--usage-space-large);
  }

  .search-login-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    max-width: 100%;
  }

  .ad-div h1{
    font-weight: 900;
    font-size: 32px;
    max-width: 350px;
    line-height: 28px;
    color: rgb(255 255 255);
    text-align: center;
  }

  .ad-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Input field */
  .address-input {
    display: flex;
    align-items: center;
    background-color: #ffff;
    border-radius: var(--usage-space-x-large);
    max-width: 100%;
    width: 100%;
    min-height: var(--usage-size-action-medium);
    font-family: 'medium';
    font-size: 16px;
    letter-spacing: var(--usage-type-body-medium-default-letter-spacing);
    font-weight: 500;
    color:  #191919;
    font-family: 'medium';
    align-items: center;
    z-index: 1;
    border: none;
    padding: 14px;
    margin: 0 var(--usage-space-small) 0 auto;
  }
  
  .address-input input {
    border: none;
    flex: 1;
    
    border-radius: 30px;
    outline: none;
    max-width: 100%;
    font-size: 16px;
    
    font-family: 'medium';
    font-weight: var(--usage-type-body-medium-default-font-weight);
  }


  
  .address-input .search-icon-div {
    margin-right: var(--usage-space-small);
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .address-input .search-input{
    margin: 0 var(--usage-space-small) 0 auto;
  }
  
  .address-input .search-arrow {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-right: 0px;
  }
  
  .login-btn{
    margin-top: var(--usage-space-medium);
    position: relative;
    max-width: 100%;
    display: inline-flex;
    min-height: var(--usage-size-action-small);
    width: auto;
    align-items: center;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: var(--usage-color-background-default);
    color: #191919;

  }

  .login-acc-img-div{
    display: block;
  }

  .login-btn img{
    display: block;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
  }

  .login-btn span{
    width: 100%;
    color: #191919;
    font-family: 'bold';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01;
    text-decoration: none;
    flex-grow: 2;
    margin-left: 4px !important;
  }

  .login-acc-img-div{
    display: flex;
    flex-grow: 1;
    flex-shrink: 2;
    min-width: 0px;
    width: 16;
    height: 16;
  }
  
  .ad-content .open-ad{
    left: 0px;
    right: 0px;
    margin-top: var(--usage-space-medium);
    z-index: 1;
    align-items: center;
    cursor: pointer;
    position: absolute;
    display: inline-flex;
    border: none;
    transition: background-color 0.15s 
                ease-in-out, box-shadow 0.15s;
    justify-content: flex-end;
    top: 79px;
    margin-left: 16px;
  }

  .open-ad a{
    font-family: 'bold';
    min-height: 32px;
    align-self: center;
    width: auto;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    color: #fff;
    padding: 0 12px;
    text-decoration: none;
    border-radius: 9999px;
    background-color: #eb1700;
    gap: 8px;
  }

  /* Hero Images */
  .hero-images {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }
  
  .hero-images img {
    width: 80px;
    height: auto;
  }
  
  .snack {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .salad {
    position: absolute;
    bottom: 0;
    right: 0;
  }
   

  