:root {
    --usage-color-text-default: rgb(25 25 25);
    --font-family: font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --usage-color-text-subdued-default: rgb(96 96 96);
    --usage-border-width-default: 1px;
    --usage-color-border-default: #f1f1f1ff;
    --usage-border-raduis-small: 4px;
    --usage-space-xx-small: 4px;
    --usage-space-x-small: 8px;
    --usage-space-small: 12px;
    --usage-space-medium: 16px;
    --usage-space-large: 24px;
    --usage-border-radius-large: 12px;
    --usage-space-x-large: 32px;
    --usage-size-action-small: 32px;
    --usage-size-action-medium: 40px;
    --usage-type-body-medium-default-letter-spacing: -0.01px;
    --usage-type-body-medium-default-font-weight: 500;
    --usage-color-background-default: #ffffff;
    --usage-type-display-large-letter-spacing: -0.01px;
    --usage-color-text-default: #191919;
    --usage-type-label-large-default-line-height: 24px;
    --usage-color-action-primary-default: #eb1700;
    --usage-type-label-small-strong-text-decoration: none;
  }

  img{
    overflow-clip-margin: content-box;
    overflow: clip;
  }


  
    .top .citiess{
        border-bottom: 3px solid transparent;
        box-shadow: 0 3px 0 #191919;
        padding-bottom: 12px;

      }

  
    .top .cuisines{
        border-bottom: 2px solid transparent;
        box-shadow: 0 2px 0 #f1f1f1ff;
        padding-bottom: 12px;
    }
  
  
  
    .top .chains{
        border-bottom: 2px solid transparent;
        box-shadow: 0 3px 0 #f1f1f1ff;
        padding-bottom: 12px;
    }
  



  @font-face {
    font-family: "bold";
    src: url("/fonts/TTNorms-Bold.woff2") format('woff2');
  }

  @font-face {
    font-family: "medium";
    src: url("/fonts/TTNorms-Medium.woff2") format('woff2');
  }

  @font-face {
    font-family: "regular";
    src: url("/fonts/TTNorms-Regular.woff2");
  }

  @font-face {
    font-family: "extrabold";
    src: url("/fonts/TTNorms-ExtraBold.woff2");
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  



  

  
  /* App Promo Banner */
  /* .app-banner { 
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #f9f9f9;
    transition: all 0.3s ease;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  } */

  .app-banner{
    margin-top: 16px;
    border: medium;
  }

  .app-banner-in{
    position: relative;
    box-sizing: border-box;
  }
  

  /* .app-banner.shrink {
    padding: 4px 8px;
    background: #ffffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }

  
  .app-banner.shrink .banner-text {
    display: none;
  }


  .app-banner.shrink .logo {
    width: 40px;
    height: 40px;
  }

  .login-btn-shrink {
    margin-left: 8px;
    padding: 0 12px;
    border-radius: 9999px;
    background-color: #fff;
    color: #eb1700;
    border: 1px solid #eb1700;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    height: 32px;
  }
  
  
  .app-banner.shrink .open-btn span {
    content: "Open App";
    left: 0px;
    right: 4px;
    z-index: 1;
    align-items: center;
    cursor: pointer;
    position: absolute;
    display: inline-flex;
    border: none;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s;
    justify-content: flex-end;
  } */
  


  .app-banner-content{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    column-gap: 8px;
    padding: 8px 8px;
    max-width: 100%;
    width: 100%;
  }
  
  .logo{
    align-self: center;
    border: var(--usage-border-width-default) solid var(--usage-color-border-default);
    border-radius: calc(var(--usage-border-raduis-small) * 3);
  }

  .icon {
    align-self: center;
    grid-area: 2 / 1;
  }

  .icon span{
  color: #626262;
  font-family: var(--usage-type-label-small-default-font-family), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--usage-type-label-small-default-size);
  font-weight: var(--usage-type-label-small-default-font-weight);
  line-height: var(--usage-type-label-small-default-line-height);
  letter-spacing: var(--usage-type-label-small-default-letter-spacing);
  text-decoration: var(--usage-type-label-small-default-text-decoration);
  text-transform: none;
  text-align: left;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  }

 .icon span .span-div{
  max-width: 100%;
  display: flex;
  align-items: center;
  -moz-box-pack: start;
  justify-content: flex-start;
  flex-direction: row;
  }

  .icon span .span-div{
    max-width: 100%;
    display: flex;
    align-items: center;
    -moz-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
    }
  
  
  .banner-text{
    max-width: 100%;
    flex-grow: 1;
    overflow: hidden;
    flex-basis: 100%;
    grid-area: 2 / 2;
    display: block;
  }

  .banner-text .banner-text-in{
  color: var(--usage-color-text-subdued-default);
  font-family: 'regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: var(--usage-type-label-small-default-letter-spacing);
  text-decoration: none;
  text-transform: none;
  text-align: left;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  max-height: 60px;
  white-space: normal;
  }

  .banner-text .banner-text-in .banner-text-content{
    max-width: 100%;
    margin-bottom: 0px;
    color: rgb(87, 87, 87);
    font-family: 'regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: var(--usage-type-body-medium-default-letter-spacing);
    text-transform: none;
    text-align: left;
    white-space: normal;
  }
  
  .banner-text .browse-text {
  color: var(--usage-color-text-default);
  font-family: 'bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 599;
  line-height: 22px;
  letter-spacing: var(--usage-type-body-medium-default-letter-spacing);
  text-decoration: none;
  text-transform: none;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  }

  .banner-text .delivary-text,.rating-text{
    color: #606060;
    font-family: 'medium', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: var(--usage-type-body-medium-default-letter-spacing);
    text-decoration: none;
    text-transform: none;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px; 
  }

  .banner-text .stars {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    fill: none;
    overflow: hidden;
    overflow-clip-margin: content-box;
    padding-left: 1px;
  }
  .stars img{
    margin: 0px 1px;
  }

  .stars .rating-text{
    margin-left: 5px !important;
  }

  .open-btn-div{
    flex-shrink: 0;
  align-self: center;
  grid-area: 2 / 3;
    align-self: center;
    width: auto;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    border-radius: 9999px;
    background-color: #eb1700;
    border: none;
    transition: background-color 0.15s 
                ease-in-out, box-shadow 0.15s;
    justify-content: flex-start;
    font-family: 'bold';
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    min-height: 32px;
    text-align: center;
  }

  
  
  .open-btn-div a{
    color: #fff;
    padding: 0 12px;
    text-decoration: none;
  }

  /* Header */
  .ad-div {
    background-image: url('/images/hero_desktop2.webp');
    padding: 0px 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 1;
    justify-content: center;
    width: 100%;
    height: 550px;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .ad-logo{
    margin-top: calc(var(--usage-space-xx-small) * 5);
    margin-bottom: calc(var(--usage-space-xx-small) * 5);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }

  .ad-logo-768{
    display: none;
  }

  .ad-logo-768-in{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }


  .name-logo{
    margin-left: var(--usage-space-x-small) !important;
  }


  .ad-h1-div{
    display: flex;
    justify-content: center;
    margin-bottom: var(--usage-space-large);
  }

  .search-login-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }

  .search-login-div .search-in{
    border-radius: 12px;
    width: 100%;
    max-width: 100%;
    display: block;
  }

  .search-in .search-in2{
    display: flex;
    min-height: 40px;
  }

  .ad-div h1{
    color: rgb(255 255 255);
    text-align: center;
    font-family: 'bold';
    font-weight: inherit;
  }

  .ad-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Input field */
  .address-input {
    display: flex;
    background-color: #ffff;
    border-radius: 32px;
    max-width: 100%;
    width: 100%;
    min-height: 40px;
    font-family: 'medium';
    font-size: 16px;
    line-height: 22px;
    letter-spacing: var(--usage-type-body-medium-default-letter-spacing);
    font-weight: 500;
    color:  #191919ff;
    align-items: center;
    z-index: 1;
    padding: 6px 16px;
    border: medium;
    box-shadow: inset 0 0 0 1px #f1f1f1ff;
    background-color: #ffffffff;
  }

  
  .address-input input {
    text-overflow: ellipsis;
    font-family: 'medium', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 22px;
    letter-spacing: var(--usage-type-body-medium-default-letter-spacing);
    font-weight: 500;
    width: 100%;
    border: medium;
    outline: none;
    flex: 1 1 100%;
    display: flex;
    background: inherit;
    color: currentcolor;
    appearance: none;
    margin: 0px;
    padding: 0px;
  }

  .address-input input::placeholder{
    color: rgba(0, 0, 0, 0.596);
  }


  
  .search-in .address-input .search-icon-div{
    margin-right: 12px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .address-input .search-input{
    flex-grow: 1;
    background: inherit;
    max-width: 100%;
    margin: 0 12px 0 auto;
    color: rgb(0, 0, 0);
  }
  
  .address-input .search-arrow {
    max-width: 100%;
    margin-right: 0px;
  }

  .address-input .search-arrow button{
  position: relative;
  max-width: 100%;
  margin: 0px;
  display: inline-flex;
  min-height: 40px;
  border-radius: 9999px;
  border: medium;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  text-decoration: none;
  text-align: center;
  background-color: #ffffffff;
  box-shadow: inset 0 0 0 1px #19191900;
  color: var(--usage-color-text-default);
  height: 40px;
  width: 40px;
  padding: 0px;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  }
  
  .login-btn{
    margin-top: 16px !important;
    position: relative;
    padding: 0;
    max-width: 100%;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    border-radius: 9999px;
    border: medium;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: var(--usage-color-background-default);
    color: #191919;
    text-align: center;
    background-color: #ffffffff;
    color: 191919ff;
  }

  .login-btn-in{
    padding: 0px 12px;
    display: block;
    flex-grow: 1;
    max-width: 100%;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
  }

  .login-btn-in2{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .login-acc-img-div{
    flex-grow: 1;
    flex-shrink: 2;
    min-width: 0px;
    display: flex;
    justify-content: flex-start;
  }

  .login-acc-img-div2{
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-btn img{
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .login-span{
    flex-grow: 2;
    min-width: 0px;
    display: flex;
    justify-content: center;
    margin-left: 4px !important;
  }

  .login-btn-first{
    color: currentcolor;
    font-family: 'bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: var(--usage-type-label-small-default-letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }



  
  .ad-content .open-ad {
    left: 0px;
    right: 0px;
    margin-top: var(--usage-space-medium);
    z-index: 1;
    align-items: center;
    cursor: pointer;
    position: absolute;
    display: none;
    display: inline-flex;
    border: none;
    transition: background-color 0.15s 
                ease-in-out, box-shadow 0.15s;
    justify-content: flex-end;
    top: 94px;
    margin: 17px 24px 2px 2px;;
  }

  @media (min-width: 768){
    .ad-content .open-ad{
    display: none;

  }
  }


  .open-ad a{
    font-family: 'bold';
    min-height: 32px;
    align-self: center;
    width: auto;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    color: #fff;
    padding: 0 12px;
    text-decoration: none;
    border-radius: 9999px;
    background-color: #eb1700;
    gap: 8px;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .open-ad .login-btn-op{
  position: relative;
  max-width: 100%;
  margin-right: 8px;
  padding: 0px;
  display: inline-flex;
  min-height: 32px;
  width: auto;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: start;
  justify-content: flex-start;
  border-radius: 9999px;
  border: medium;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  text-decoration: none;
  text-align: center;
  background-color: #ffffffff;
  box-shadow: inset 0 0 0 1px #19191900;
  color: var(--usage-color-text-default);
  }

  .open-ad .login-btn-op .login-btn-in{
    display: block;
    flex-grow: 1;
    max-width: 100%;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
    padding: 0px 12px;
  }

  .open-ad .login-btn-op .login-btn-in span{
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-grow: 2;
  min-width: 0px;
  display: flex;
  justify-content: center;
  }


  .continue-app{
    max-width: 400px;
    width: 100%;
    margin: 0px auto;
  }

  .under-banner{
    margin: 20px 20px 0;
  }

  .under-banner-inside{
    
    border-radius: var(--usage-border-radius-large);
    border: 1px solid #f1f1f1;
    padding: 20px;
    background-color: #f7f7f7;
    max-width: 100%;
    display: block;
    max-width: 100%;
  }

  .app-banner-content-modify{
    display: flex;
    text-align: left;
    margin: 0;
    padding: 0;
    column-gap: 0;
    gap: 0;
  }

  .icon-modify{
    width: 60px;
    height: 60px;
    border-radius: var(--usage-border-radius-large);
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    margin-right: 8px ;
    padding: 8px;
  }

  .banner-text-modify{
    max-width: 100%;
  display: block;
    text-align: left;
  }
  .banner-text-modify .browse-text{
    color: var(--usage-color-text-default);
    font-family: 'bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 599;
    line-height: 20px;
    letter-spacing: var(--usage-type-body-medium-default-letter-spacing);
    text-decoration: none;
    text-transform: none;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;

  }

  .banner-text-modify .delivary-text{
    margin-left: var(--usage-space-xx-small) !important;
    margin-top: 2px !important;
  }

  /* .banner-text-modify .stars prop{
    margin-top: 2px !important;
  } */

  .banner-text-modify .delivary-text{
    color: #606060;
    font-family: 'medium', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: var(--usage-type-body-medium-default-letter-spacing);
    text-decoration: none;
    text-transform: none;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px; 
  }

  .stars-prop{
    margin-top: 2px !important;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
  }

  .stars-prop img{
    margin: 0px 2px;
    flex-shrink: 0;
    text-align: left;
  }

  .stars-prop .img-next{
    margin-left: 0px !important;
  }

  .stars-prop .rating-text{
    margin-left: 4px !important;
  }

  /* .banner-text-modify .stars {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    fill: none;
    overflow: hidden;
    overflow-clip-margin: content-box;
    padding-left: 1px;
  } */

  .continue-btn{
    display: flex;
    margin-top: var(--usage-space-medium) !important;
    position: relative;
    max-width: 100%;
    min-height: 40px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #ffffffff;
  }

  .Doordash-contents{
    display: contents;

  }

  .Doordash-content-inside{
    max-width: 785px;  
    margin: 0px auto;
  }

  .Doordash-content-inside-flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0px;
    padding: 8px 8px;
  }

  .Doordash-content-inside-flex-2{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }

  .Become-a-dasher{
    display: flex;
    width: 100%;
    min-width: 360px;
    flex-flow: row;
    max-width: 100%;
    padding: 16px 16px;
  }

  .Become-a-dasher-content{
      display: flex;
      flex-flow: column;
      width: 100%;
      max-width: 250px;
  }

  .Become-a-dasher-content-1{
    max-width: 100%;
    display: block;
  }
  .image-div{
    margin-right: var(--usage-space-x-large);
  }

  .Doordash-contents h2{
    color: #191919;
    font-family: 'bold';
    font-size: 32px;
    font-weight: 599;
    line-height: 40px;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-align: left;
    display: block;
    margin: 0px;
    padding: 0px;
  }

  .Doordash-contents h3{
    margin-top: 0px !important;
    color: var(--usage-color-text-default);
    font-family: 'medium';
    font-size: 18px;
    font-weight: 500;
    line-height: var(--usage-type-label-large-default-line-height);
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    display: block;
    margin: 0px;
    padding: 0px;
  }

  .Doordash-content-inside-flex button{
    border: 0px;
    padding: 0px;
    margin: var(--usage-space-small) 0 0 0;
    outline: 0px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
  }

  .Doordash-content-inside-flex span{
    color: var(--usage-color-action-primary-default);
    font-family: 'bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 599px;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
  }

  /* .crave-contents{
    
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 90%;
  align-items: center;
  } */

  .crave{
    width: 100%;
  }

  .crave-contents-div1{
    width: 100%;
  }

  .crave-contents-div1 .crave-contents-div1-in{
    margin-bottom: -300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    -webkit-box-align: center;
    align-items: center;
  }

  .image-wrapper{
    width: 100%;
  }

  .image-wrapper img{
    width: 100%;
    height: 180px;
    object-fit: cover;
  }


  .content-wrapper{
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .content-wrapper h2{
    font-family: 'bold';
    text-align: left;
    max-width: 90%;
    margin-top: 20px;
    color: var(--usage-color-text-default);
    font-size: 24px;
    font-weight: 599;
    line-height: 28px;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
    text-decoration: none;
    text-transform: none;
    display: block;
    text-transform: none;
  }

  .content-wrapper .span1 {
    font-family: 'bold';
    text-align: left;
    margin-top: 10px;
    color: var(--usage-color-text-default);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
    text-decoration: var(--usage-type-label-small-strong-text-decoration);
  }

  .content-wrapper .span2 {
    margin-top: 10px;
    text-align: left;
    color: var(--usage-color-text-default);
    font-family: 'medium', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: var(--usage-type-body-medium-default-letter-spacing);
    text-decoration: var(--usage-type-label-small-strong-text-decoration);
  }

  .content-wrapper .find-btn{
    margin-top: 20px;
  }


  .content-wrapper .find-btn a{
    font-size: 14px;
  }

  .crave-contents-div2{
    width: 100%;
  }

  .crave-contents-div2 .crave-contents-div2-in{
    background-color: rgb(254, 241, 238);
    padding-top: 320px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
  }

  .crave-contents-div2 .extra-padding{
    padding-top: 320px;
  }

  .mid-banner {
    background: url('images/grocery_desktop.avif') center center / cover;
    position: relative;
    height: 350px;
  }
  
  .mid-banner-inside {
    background-color: rgba(30, 30, 30, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    /* z-index: 1; */ /* remove unless needed */
    display: flex;
    flex-direction: row;
    place-content: center;
    text-align: center;
  }
  
   

  .mid-banner-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 550px;
  }

  .mid-banner-contents h2{
    font-family: 'bold';
    max-width: 90%;
    margin-top: 20px;
    color: var(--usage-color-background-default);
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
    text-decoration: none;
    text-transform: none;
    display: block;
    text-transform: none;
  }

  .mid-banner-contents .span1{
    font-family: 'medium';
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
    color: white;
    font-family: 'bold';
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
    text-decoration: var(--usage-type-label-small-strong-text-decoration);
  
  }

  .mid-banner-contents .span2{

    margin-top: 10px;
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
    font-family: 'medium', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: var(--usage-type-body-medium-default-letter-spacing);
    text-decoration: var(--usage-type-label-small-strong-text-decoration);
  }

  .mid-banner-contents .shop-btn{
    margin-top: 20px;
  }


  .mid-banner-contents .shop-btn .open-btn{
    font-size: 14px;
  }

  .convenience-dashpass{
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
    
  }

  .helping-heading{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(254, 241, 238);
    padding: 40px 20px 20px;
    width: 100%;
  }
  
  .heading-span{
    font-family: 'bold';
    text-align: center;
    max-width: 300px;
    color: #191919;
    font-size: 24px;
    font-weight: 599;
    line-height: 28px;
    letter-spacing: var(--usage-type-body-medium-default-letter-spacing);
    text-decoration: none;
  }

  .div-scroll{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    background-color: rgb(254, 241, 238);
  }

  .div-scroll .scrolls{
    margin-left: 5%;
    margin-right: -10%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    -webkit-box-align: center;
    align-items: center;
  }

  .div-scroll .dashpass-contents img{
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .div-scroll .content-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }


  .div-scroll .content-wrapper h2{
    text-align: center;
  }

  .div-scroll .span2{
    text-align: center;
  }

  .scrolls .content-wrapper .alcohol{
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
  }

  .helping-heading-modify{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 40px 20px 20px;
    width: 100%;
  }

  .convenience-ad{
    width: 100%;

  }

  .convenience-ad-grow{
    width: 100%;
  }

  .convenience-ad-grow .convenience-dashpass{
    padding: 20px;
    background-color: rgb(254, 241, 238);
    display: flex;
    flex-direction: column;
    min-width: 90%;
    align-items: center;
  }

  .display-contents{
    display: contents;
  }

  .inside-display-contents{
    width: 100%;
    margin: 0px auto;
    padding: 48px 0px;
    max-width: 1130px;
  }

  
  .inside-display-contents h2{
    font-family: 'bold';
    text-align: center;
    margin-bottom: 20px;
    color: #191919ff;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: var(--usage-type-label-large-default-letter-spacing);
  }

  .inside-display-contents .All{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: var(--usage-space-large);
  }

  .top{
    display: flex
    ;
        -webkit-box-pack: center;
        justify-content: center;
        width: 100%;
        flex-direction: row;
  }

  .top .common{
    box-sizing: border-box;
    width: 33.33%;
    display: flex;
    height: var(--usage-size-x-large);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    background: var(--usage-color-background-default);
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .top  .citiess{
    font-family: 'medium';
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: var(--usage-type-label-small-default-letter-spacing);
  }

  .top  .cuisines, .chains{
    color: #606060ff;
    font-family: 'medium';
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: var(--usage-type-label-small-default-letter-spacing);
  }

  .top-list{
    display: flex;
    flex-direction: column;
    gap: var(--usage-space-small);
    width: 100%;
  }

  .top-list .inside-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--usage-space-medium);
    width: 100%;
  }

  .top-list .inside-list .Chicago{
    text-decoration: none;
    width: 100%;
    white-space: nowrap;
    display: block;
    box-sizing: border-box;
  }

  .top-list .inside-list .Chicago span{
    color: #191919ff;
    font-family: 'medium';
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0;
    padding: 0;
  }

  .top-list .see-more{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
  }

  .top-list .see-more span{
    margin-right: 8px;
    color: #191919ff;
    font-family: 'bold';
    font-size: 20px;
    font-weight: 599;
    line-height: 24px;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
    text-decoration: none;
  }

  .top-list .see-more button{
    position: relative;
    max-width: 100%;
    margin: 0px;
    display: inline-flex;
    min-height: 40px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    text-align: center;
    background-color: #f1f1f1ff;
    box-shadow: inset 0 0 0 1px #f1f1f1ff;
    color: #191919ff;
    height: 40px;
    width: 40px;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
  }

  .footer{
    display: contents;
  }

  .footer .inside-footer{
    width: 100vw;
    background-color: #191919ff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .footer .inside-footer .inside-inner-footer{
    width: 1184px;
  }

  .footer .inside-footer .inside-inner-footer footer{
    max-width: 1160px;
    padding: 0 calc(var(--usage-space-xx-small) * 5);
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .inside-inner-footer footer .popular-categories{
    padding-top: var(--usage-space-x-large);
    padding-bottom: var(--usage-space-x-large);
    flex: 1 1 0%;
    text-align: center;
  }

  .inside-inner-footer footer .popular-categories h2{
    margin-bottom: var(--usage-space-x-small);
    color: rgb(255, 255, 255);
    font-family: 'medium';
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
    text-decoration: none;
  }

  .inside-inner-footer footer .popular-categories .popular-list{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-direction: column;
  }

  .inside-inner-footer footer .popular-categories .popular-list .list1{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
  }

  .list1 .list1-items{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: filter 0.2s;
    margin-top: var(--usage-space-x-small);
  }

  .list1 .list1-items span{
    color: rgb(196, 196, 196);
    font-family: 'medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
    display: block;
    margin: 0;
    padding: 0;
  }

  .footer .inside-footer .inside-inner-footer footer .footer-part2{
    display: flex;
    flex-direction: column-reverse;
  } 

  .footer-part2 .part-2-in{
    flex-direction: column;
    text-align: center;
    flex: 1 1 0%;
    display: flex;
    justify-content: space-between;
    gap: var(--usage-space-small);
  }

  .footer-part2 .part-2-in .list1{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
  }


  .footer-part2 .part-2-in .list1 h2{
    margin-bottom: var(--usage-space-x-small);
    color: rgb(255, 255, 255);
    font-family: 'medium';
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: var(--usage-type-body-medium-default-letter-spacing);
  }

  .footer-part2 .part-2-in .list1 a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: filter 0.2s;
    margin-top: var(--usage-space-x-small);
  }

  .footer-part2 .part-2-in .list1 a span{
    color: rgb(196, 196, 196);
    font-family: 'medium', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing:var(--usage-type-label-large-default-letter-spacing);
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
  }

  .footer-part2 .store-image{
    flex-direction: column;
    flex: 1 1 0%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
  }

  .footer-part2 .store-image .store-image-in{
    flex: 1 1 0%;
    padding-top: var(--usage-space-x-large);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .store-image-in a{
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.2s;
    text-decoration: none;
    color: inherit;
  }

  .store-image-in a .app-store{
    padding: 2px var(--usage-space-x-small);
    border-radius: 8px;
    background-color: rgb(73, 73, 73);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .store-image-in a .play-store{
    padding: 2px var(--usage-space-x-small);
    border-radius: 8px;
    background-color: rgb(73, 73, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--usage-space-small);
  }

  .inside-inner-footer footer .last-footer{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: var(--usage-space-x-large) 0;
  }

  .last-footer .last-contents{
    margin-top: var(--usage-space-small);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    flex-direction: row;
  }

  .last-footer .last-contents .footer-logo-a{
    text-decoration: inherit;
    cursor: pointer;
  }

  .last-footer .last-contents a .footer-logo-div{
    max-width: 100%;
    display: flex;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
    cursor: pointer;
  }

  .last-contents .terms{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: filter 0.2s;
    margin-left: var(--usage-space-medium) !important;
  }

  .last-contents .terms span{
    text-decoration: none;
    color: rgb(196, 196, 196);
    font-family: 'medium';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
  }

  .last-contents .copyright{
    margin-left: var(--usage-space-medium) !important;
    text-decoration: none;
    color: rgb(196, 196, 196);
    font-family: 'medium';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
  }

  .last-footer .language-select{
    padding: 0px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .last-footer .language-select .language-select-in1{
    width: 150px;
  }

  .language-select-in1 .language-select-in2{
    border-color: none;
    display: block;
  }

  .language-select-in2 .language-select-in3{
    width: 100%;
    max-width: 100%;
    display: flex;
    min-height: var(--usage-size-action-small);
  }

  .language-select-in3 .language-select-in4{
    font-family: 'medium';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
    font-weight: 500;
    color: #191919ff;
    letter-spacing: var(--usage-type-display-large-letter-spacing);
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: calc(var(--usage-size-action-small) / 2) calc(var(--usage-size-action-small) / 2) calc(var(--usage-size-action-small) / 2) calc(var(--usage-size-action-small) / 2);
    z-index: 1;
    padding: calc(var(--usage-space-x-small) / 2) calc(var(--usage-space-x-small) + var(--usage-space-xx-small));;
    border: none;
    box-shadow: inset 0 0 0 1px;
    background-color: #f1f1f1ff;
  }

  .language-select-in4 .internet-image{
    max-width: 100%;
    margin-right: var(--usage-space-x-small);
  }

  .language-select-in4 .internet-image-in{
    display: flex;
  }

  .internet-image-in img{
    flex-shrink: 0;
  }

  .language-select-in4 .english-select{
    flex-grow: 1;
    background: inherit;
    max-width: 100%;
    margin: 0px auto;
  }
  
  .language-select-in4 .english-select .english-select-in{
    position: relative;
    background: inherit;
  }

  .english-select-in select{
    font-family: 'medium', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: var(--usage-type-body-medium-default-letter-spacing);
    font-weight: var(--usage-type-body-medium-default-font-weight);
    width: 100%;
    border: none;
    outline: none;
    flex: 1 1 100%;
    display: flex
;
    background: inherit;
    color: currentcolor;
    appearance: none;
    margin: 0px;
    padding: 0px;
  }

  .english-select-in .select-arrow{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    height: 24px;
    max-height: 100%;
    min-height: 8px;
    pointer-events: none;
    background: transparent;
    bottom: 0px;
    margin: auto 0px;
  }

  .last-footer .social-media{
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
  }

  .last-footer .social-media .fb{
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.2s;
    text-decoration: none;
    color: inherit;
  }

  .last-footer .social-media img{
    flex-shrink: 0;
  }

  .last-footer .social-media .twitter{
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.2s;
    text-decoration: none;
    color: inherit;
    margin-left: var(--usage-space-small);
  }

  .last-footer .social-media .insta{
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.2s;
    text-decoration: none;
    color: inherit;
    margin-left: var(--usage-space-small);
  }

  .convenience-dashpass-2{
  margin-bottom: -300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 90%;
  -moz-box-align: center;
  align-items: center;
  }

  .convenience-dashpass-3{
  padding: 20px;
  padding-top: 320px;
  display: flex;
  flex-direction: column;
  background-color: rgb(254, 241, 238);
  min-width: 90%;
  -moz-box-align: center;
  align-items: center;
  }

  .helping-scroll{
  display: flex;
  justify-content: center;
  background-color: rgb(254, 241, 238);
  padding: 40px 20px 20px;
  width: 100%;
  }
  
  .ad-logo-768-in .Doordash-768{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin-left: var(--usage-space-x-small) !important;
  }
